# Edit History:
# | Person | Date | Comment |
# | --- | --- | --- |
# | Shiladitya | 07/10/2026 | Created |
#
APP_NAME=FastAPI E-Commerce Demo
LOG_LEVEL=DEBUG
LOG_DIR=./log
LOG_FILE_NAME=app.log
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=ecommerce
MYSQL_USER=ecommerce_user
MYSQL_PASSWORD=ecommerce_password
DEFAULT_USER_BALANCE=100000
